{%extends "layout.html"%}

{%block content%}
<div class="intro">
    <form method="POST" class="forms">
        {{ form.hidden_tag() }}
    
        <!--{{ form.email.label }}--> 
        {% if form.email.errors %}
            {{ form.email(style='border-color:red;') }} 
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(placeholder='Email-ID') }}
        {% endif %}
        <br/><br/>

        <!--{{ form.password.label }}-->
        {% if form.password.errors %}
            {{ form.password(style='border-color:red;') }} 
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(placeholder='Password') }}
        {% endif %}
        <br/><br/>

        {{ form.submit }}
        <br/><br/>
    </form>
    <a href="{{url_for('forget_password')}}" style="margin-left: 35%; font-size: 20px;">Forget Password</a>
</div>
{%endblock content%}