{%extends "layout.html"%}

{%block content%}
<div class="intro">
    <form method="POST" action="" class="forms">
        {{ form.hidden_tag() }}
    
        <!--{{ form.email.label }} -->
        {% if form.email.errors %}
            {{ form.email(style='border-color:red;') }} 
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(placeholder='Email-ID') }}
        {% endif %}
        <br/><br/>
        
        {{ form.submit }}
        <br/><br/>
    </form>
</div>
{%endblock content%}