{%extends "layout.html"%}

{%block content%}
<div class="intro">
    <form method="POST" action="" class="forms">
        {{ form.hidden_tag() }}
    
        <!--{{ form.password.label }}-->
        {% if form.password.errors %}
            {{ form.password(style='border-color:red;') }} 
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(placeholder='New Password') }}
        {% endif %}
        <br/><br/>
        
        <!--{{ form.confirm_password.label }}-->
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(style='border-color:red;') }} 
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(placeholder='Confirm New Password') }}
        {% endif %}
        <br/><br/>

        {{ form.submit }}
        <br/><br/>
    </form>
</div>
{%endblock content%}