{%extends "layout.html"%}

{% block style %}
.asgn_view{
    padding: 2% 2% 2% 2%;
    border-radius: 15px;
    border: none;
    width: 45%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    margin-left: 30%;
    box-shadow:  0 3px  rgb(0, 0, 0);
    background-color: rgb(197, 243, 255);
    
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.submission{
    padding: 2% 2% 2% 2%;
    border-radius: 15px;
    border: none;
    width: 45%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    margin-left: 30%;
    box-shadow:  0 3px  rgb(0, 0, 0);
    background-color: rgb(197, 243, 255);
    
    color: black;
    align-items: center;
    justify-content: center;
}

.submit_form{
    left:0;
    border: 0;
    outline: none;
    font-size: x-large;
    position: fixed;
}
{% endblock style %}

{%block content%}

<!--For the hamberger menu-->
<!--#########################################################################-->
<div style="margin-left: 1%;">
    <a onclick="toggle_menu()" id="menu-icon"><ion-icon name="grid-outline" style="position: absolute; font-size: 3em;"></ion-icon></a>
</div>

<div class="menu" id="menubar">
    <ul>
        <li>
            <a href="{{ url_for('classroom_home', id=id) }}">
                <ion-icon name="book-outline"></ion-icon>
            </a>
        </li>
        <li>
            <a href="{{ url_for('assignments', id=id) }}">
                <ion-icon name="create-outline"></ion-icon>
            </a>
        </li>
        
    </ul>
</div>
<!--#########################################################################-->


<!--#########################################################################-->
<!--To show assignment Details-->
<div class="asgn_view">
    <p>Assignment</p>
    <h1>{{ assignment.title }}</h1>
    <p>{{ assignment.description }}</p>
    <p>Due on : {{ assignment.due }}</p>
</div>
<!--#########################################################################-->

<br/><br/>
<!--#########################################################################-->
{% if not isTeacher%}
<div class="submission">
    <p>Your Old Submission(s)</p>
    <div>
        <form action="" method="post" enctype="multipart/form-data" class="submit_form">
            <p>
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </p>
        </form>
        
        <ul>
            {% for filename in filenames %}
            {% set f_name = filename[filename.rfind('__')+2:] %}
            <span>
                <a href="{{ url_for('download_file', id=id, filename=filename) }}">{{ f_name }}</a>
                <br>
            </span>
            {% endfor %}
        </ul>
    </div>
</div>
<!--#########################################################################-->
{% else %}
<div class="submission">
    <div>
        <p>Student Submission(s)</p>
        <ul>
            {% for filename in filenames %}
            <span>
                <p>{{ filename[0] }} Submitted : 
                    {% set f_name = filename[1][filename[1].rfind('__')+2:] %}
                    <a href="{{ url_for('download_file', id=id, filename=filename[1]) }}">{{ f_name }}</a>
                </p>
                <br>
            </span>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<!--#########################################################################-->



{%endblock content%}